.info {
    font-size: 0;
    text-align: center;
}
.info .info1 {
    display: inline-block;
    height: 180px;
    margin-right: 5px;
    vertical-align: top;
}
.info .info1:last-child {
    margin-right: 0;
}
.picture27 {
    height: 180px;
  }
  .picture1 {
    height: 180px;
  }
  .picture2 {
    height: 180px;
  }
  .picture3 {
    height: 180px;
  }
  .picture4 {
    height: 180px;
  }
  .picture18 {
    height: 180px;
  }
  .picture5 {
    height: 180px;
  }
  .picture6 {
    height: 180px;
  }
  .picture17 {
    height: 180px;
  }
  .picture7 {
    height: 180px;
  }
  .picture8 {
    height: 180px;
  }
  .picture9 {
    height: 180px;
  }
  .picture10 {
    height: 180px;
  }
  .picture11 {
    height: 180px;
  }
  .picture12 {
    height: 180px;
  }
  .picture28 {
    height: 180px;
  }
  .picture19 {
    height: 180px;
  }
  .picture13 {
    height: 180px;
  }
  
  
  .picture16 {
    height: 180px;
  }
  .picture14 {
    height: 180px;
  }
  .picture15 {
    height: 180px;
  }
  
  
  
  .picture20 {
    height: 180px;
  }
  .picture22 {
    height: 180px;
  }
  .picture36 {
    height: 180px;
  }
  
  
  
  
  .picture25 {
    height: 180px;
  }
  .picture26 {
    height: 180px;
  }
  .picture21 {
    height: 180px;
  }
  .picture31 {
    height: 180px;
  }
  .picture34 {
    height: 180px;
  }
  
  .picture29 {
    height: 180px;
  }
  .picture30 {
    height: 180px;
  }
  
  .picture32 {
    height: 180px;
  }
  .picture42 {
    height: 180px;
  }
  .picture38 {
    height: 180px;
  }
  .picture33 {
    height: 180px;
  }
  .picture37 {
    height: 180px;
  }
  .picture35 {
    height: 180px;
  }
  .picture24 {
    height: 180px;
  }
  .picture40 {
    height: 180px;
  }
  
  
  .picture39 {
    height: 180px;
  }
  
  .picture23 {
    height: 180px;
  }
  .picture41 {
    height: 180px;
  }
  
  .picture43 {
    height: 180px;
  }
  p {
    margin-left: 15px;
  }